<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSectionTitle-text">
      <%=section_title%>
    </h2>
    <h2 class="TodoSectionTitle-remainingCount">
      <%=todos.completed.count%>/<%=todos.count%>
    </h2>
  </div>
  
  <ul class="UnorderedList">
    <%todos.all.each do |todo|%>
      <li class="TodoItem">
        <div class="TodoItem-container">
          
          <input class="TodoItem-checkbox" type="checkbox" <%if todo.completed%> checked <%end%> />
            
            <p class= '<%= todo.completed ? "Todo-Strike" : ""%>' >
              <%= todo.todo_text %>
            
            <%if show_due_date%>
              <p class="TodoItem-dueDate"><%=todo.due_date.to_s(:short)%></p>
            <%end%>
          
          <img class="TodoItem-delete" src="delete.svg" />
        </div>
      </li>
    <%end%>
  
  </ul>
</section>